<!DOCTYPE HTML>
<html lang="en">
<html>
	<head>
		<title>THE STEMINISTS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="css/main.css" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Josefin+Sans:400,600,700|Oswald:400,500,600,700|Quicksand:400,500,700" rel="stylesheet">
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header" class="wrapper">

					<!-- Logo -->
						<div id="logo">
						  <div class="container">
							<h1><a href="index.erb">The STEMinists</a></h1>
							<p>Empowering young women to get involved in STEM</p>
						  </div>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="/">Home</a></li>
								<li>
									<a href="/quiz">SURVEY</a>
									<!--<ul>-->
									<!--	<li><a href="#">Lorem ipsum</a></li>-->
									<!--	<li><a href="#">Magna veroeros</a></li>-->
									<!--	<li><a href="#">Etiam nisl</a></li>-->
									<!--	<li>-->
									<!--		<a href="#">Sed consequat</a>-->
									<!--		<ul>-->
									<!--			<li><a href="#">Lorem dolor</a></li>-->
									<!--			<li><a href="#">Amet consequat</a></li>-->
									<!--			<li><a href="#">Magna phasellus</a></li>-->
									<!--			<li><a href="#">Etiam nisl</a></li>-->
									<!--			<li><a href="#">Sed feugiat</a></li>-->
									<!--		</ul>-->
									<!--	</li>-->
									<!--	<li><a href="#">Nisl tempus</a></li>-->
									<!--</ul>-->
								</li>
							</ul>
						</nav>

				</section>

			<!-- Intro -->
				<section id="intro" class="wrapper style1">
					<div class="title">About</div>
					<div class="container">
						<p class="style1"><span style="color: white">So in case you were wondering what this is all about ...</span></p>
						<p class="style2">
						<</span><span style="color: #D93A80", font-family= "Inconsolata">mission_statement</span>> <span style="color: #A6E15B">"The STEMinists aims to help young women build a network to communicate with like-minded women and connect with programs and resources to help them pursue a future in STEM."</span><<span style="color: #D93A80">/mission_statement</span>><br class="mobile-hide" />
						</p>
						<ul class="actions">
							<li>
							<!--<input style= "width: 200px; padding: 10px 35px; cursor: pointer; font-weight: bold; background: #FFF; color: #000; border-radius: 15px; border: 1px solid #999; font-size: 125%;" type=“button” value=“Proceed” onclick=“window.location.href=‘walmart.com’” />-->
								<!--<a href="#" class="button style3 large" style="background-color:white; color:#002233;" type="button" onclick=window.location.href='/home/ubuntu/workspace/test.html'>Take the Survey :)</a>-->
									<a href="/quiz" class="button style3 large" style="background-color:white; color:#002233;" type="button" onclick=window.location.href= "/quiz">Take the Survey :)</a>
							<!--<form>-->
							<!--	<input style="background-color:white; color:#002233;" type="button" value="Take the Survey :)" onlick="window.location.href='target.com'" />-->
							<!--</form>-->
								</li>
						</ul>
					</div>
				</section>

			<!-- Main -->
				<section id="main" class="wrapper style2">
					<div class="title">The Details</div>
					<div class="container">

						<!-- Image -->
							<a href="#" class="image featured" style="border: solid #002233 10px">
								<img src="images/camp.jpg"/>
							</a>

						<!-- Features -->
							<section id="features">
								<header class="style1">
									<h2><span style="font-family: oswald">FAST FACTS</span></h2>
									<p>About Women In STEM</p>
								</header>
								<div class="feature-list">
									<div class="row">
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon fa-check"><span style="color: #D93A80">Only 24% of STEM workers are women today</span></h3>
												<p>Women filled 47 percent of all U.S. jobs in 2015 but held only 24 percent of STEM jobs. Likewise, women constitute slightly more than half of college educated workers but make up only 25 percent of college educated STEM workers. </p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon fa-check"><span style="color: #D93A80">Less than 10% of STEM workers are minority women</span></h3>
												<p>Even though the STEM field is led by a vast majority of males, white women still make up the second largest group of STEM-involved individuals. Only 5% of asian women, 2% of black women, and 2% of hispanic women make up the STEM fields.</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon fa-check"><span style="color: #D93A80">57% of women don't even consider a career in STEM</span></h3>
												<p>We want to change this by giving the young girls an opportunity to participate in programs and helping them to find interest in different STEM fields. </p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon fa-check"><span style="color: #D93A80">The Wage Gap </span></h3>
												<p>Women in the STEM occupation are paid 92% of what their male counterparts are paid. However, the wage gap in STEM fields is significantly less than in other fields.</p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon fa-check"><span style="color: #D93A80"> Only 4% of female students interested in pursuing STEM were encouraged by a mentor</span></h3>
												<p>A big reason for women's lack of involvement in STEM is from absence of a role-model or someone to pave the way for them.<p>
											</section>
										</div>
										<div class="col-6 col-12-medium">
											<section>
												<h3 class="icon fa-check"><span style="color: #D93A80">Only 14% of engineers are women</span></h3>
												<p>Reasons that have been suggested for low female graduation rates include lack of female engineering role models, misconceptions of what it is like to be an engineer, and having fewer technical problem-solving opportunities through K-12 compared to men.</p>
											</section>
										</div>
									</div>
								</div>
							</section>

					</div>
				</section>

			<!-- Highlights -->
				<section id="highlights" class="wrapper style3">
					<div class="title">Stories and Videos</div>
					<div class="container">
						<div class="row aln-center">
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/giphy.gif" alt="" /></a>
									<h3><a href="#"></a><span style="color:#A6E15B">The More Gender Equality, the Fewer Women in STEM</span></a></h3>
									<p><span style="color: white">A new study explores a strange paradox: In countries that empower women, they are less likely to choose math and science professions.</span></p>
									<ul class="actions">
										<li><a href="https://www.theatlantic.com/science/archive/2018/02/the-more-gender-equality-the-fewer-women-in-stem/553592/" class="button style1">Math news</a></li>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<br></br>
									<iframe width="350" height="200" src="https://www.youtube.com/embed/D9prLpdrG6g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>									<h3><a href="#"><span style="color:#A6E15B">We are all born scientists</span></a></h3>
									<p><span style="color:white">Danielle's research using radio waves has significant impact on the way we farm, fly and design cities, and so much more. She engineers the tools for scientific discovery: one of the 14 Engineering Grand Challenges of the 21st century. But is the greatest challenge getting more women into engineering?</span></p>
									<ul class="actions"><li><a href="#" class="button style1">TED TALK</a></li>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="https://www.scientificamerican.com/article/is-the-universe-made-of-math-excerpt/" class="image featured"><img src="images/giphy7.gif"/></a>
									<h3><a href="#"><span style="color: #A6E15B">Is the Universe Made of Math?</span></a></h3>
									<p><span style="color:white">In this excerpt from his new book,an M.I.T. professor explores the possibility that math does not just describe the universe, but makes the universe.</span></p>
										<ul class="actions">
										<li><a href="https://www.scientificamerican.com/article/is-the-universe-made-of-math-excerpt/" class="button style1">Learn More</a></li>
									</ul>									
								</section>
							</div>
						</div>
					</div>
				</section>

			<!-- Footer -->
				<section id="footer" class="wrapper">
					<div class="title" style="color: #002233">Contact Info</div>
					<div class="container">
						<header class="style1">
							<center>
							<h2><span style="color: #D93A80">Do you have any questions, comments, or concerns?</span></h2>
							<p><span style="color:#D93A80">You can contact one of the four founders through our Instagram, Twitter, or email provided down below :)</span><br />
							</center>
							</p>
						</header>
						<div class="row">
							<!--<div class="col-6 col-12-medium">-->

								<!-- Contact -->
								<!--<center>-->
									<section class="feature-list small">
										<div class="row">
											<div class="col-6 col-12-small">
												<section>
													<center>
													<h3 class="icon fa-home"><span style="color: #002233">CHAMBERLAIN CHURCHILL</span></h3>
													<p>
														<a href=https://www.instagram.com/monkey_cbc/><span style="color:#D93A80">Instagram</span></a>
</center>
													</p>
												</section>
											</div>
											<div class="col-6 col-12-small">
												<section>
													<center>
													<h3 class="icon fa-envelope"><span style="color: #002233">JOY TING</span></h3>
													<p>
														<a href="#"><span style="color:#D93A80">gentledolphin1@gmail.com</span></a><br />
														
													</p>
													</center>
												</section>
											</div>
											<div class="col-6 col-12-small">
												<section>
													<center>
													<h3 class="icon fa-instagram"><span style="color: #002233">OLIVIA DUGGER</span></h3>
													<p>
														<a href=https://www.instagram.com/olivia.dugger/><span style="color:#D93A80">Instagram</span></a>
														<br></br>
														<a href="#"><span style="color:#D93A80">oliviacdugger@gmail.com</span></a><br />
														</center>
													</p>
												</section>
											</div>
											<div class="col-6 col-12-small">
												<section>
													<center>
													<h3 class="icon fa-twitter"><span style="color: #002233">SARA SHELTON</span></h3>
													<p>
														<a href=https://www.instagram.com/sarannic/><span style="color:#D93A80">Instagram</span></a>
														<br></br>
														<a href=https://twitter.com/sarannic11><span style="color:#D93A80">Twitter</span></a>
														<br></br>
														<a href="#"><span style="color:#D93A80">saranic314@gmail.com</span></a><br />
														</center>
													</p>
												</section>
											</div>
										</div>
								</section>
								<!--</center>-->
							</div>
						</div>
						<div style="margin-left: 500px; margin-top: 100px; color:#D93A80" id="copyright">
							<ul class="copyright">
						&copy; chacha-joy-olivia-sara </li><a href="https://html5up.net"><span style="color:#D93A80">HTML5 UP</span></a></li>
					</ul>
						</div>
					</div>
				</section>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>