<!DOCTYPE HTML>
<html lang="en">
<html>
	<head>
	   
		<title>THE STEMINISTS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="css/main.css" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Josefin+Sans:400,600,700|Oswald:400,500,600,700|Quicksand:400,500,700" rel="stylesheet">
	</head>
  <link href="css/main.css" rel="stylesheet"/>
     	<body class="homepage is-preload">
		<div id="page-wrapper">
		     
			<!-- Header -->
				<section id="header" class="wrapper">
				    <div id="logo">
						  <div class="container">
							<h1><a href="index.erb">The STEMinists</a></h1>
							<p>Empowering young women to get involved in STEM</p>
						  </div>
						</div>

                </section>
        </div>
        	
        	<nav id="nav">
							<ul>
								<li class="current"><a href="/">Home</a></li>
								<li>
									<a class="quiz_title" href="/quiz">SURVEY</a>
								
								</li>
							</ul>
						</nav>
        <section id="services">
        <div class="container">
              <h1><span font-size="large">INTEREST AND PROGRAM SURVEY</span></h1>
            
            <div class="inner">
  <h2>Choose a Program and an Event that best dictates your STEM interests</h2>
    <form method="POST" action="/results">
       <!--<div></div>-->
      <!--<input type="text" name="material">-->
      <center>
        <select name="stem_type">
        <option value="">CHOOSE AN INTEREST</option>
      <option value="Science/Computer Science">Science/Computer Science</option>
      <option value="Technology/Engineering/Robotics">Technology/Engineering/Robotics</option>
      <option value="Math">Math</option>
      </select>
      
      </center>
      <!--<div></div>-->
      <!--<input type="text" name="material">-->
      <center>
      <select name="wah" style="margin-top: 30px">
      <option value="">CHOOSE AN EVENT</option>
      <option value="Program">Program</option>
      <option value="Camp">Camp</option>
      <option value="Collaborative Environment">Collaborative Environment</option>
      </select>
      </center>
      <center>
      <input style="margin-top: 30px" type="submit" id="submit">
      </center>
     </form>
    </div>
                  </div> 
               </form>
              </div>
            </div>
          </section>
          <center>
									<section class="feature-list small">
										<div class="row">
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon fa-home"><span style="color: #002233">CHAMBERLAIN CHURCHILL</span></h3>
													<p>
														<a href=https://www.instagram.com/monkey_cbc/>Instagram</a>

													<center></p>
												</section>
											</div>
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon fa-envelope"><span style="color: #002233">JOY TING</span></h3>
													<p>
														<a href="#">gentledolphin1@gmail.com</a><br />
														
													</p>
												</section>
											</div>
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon fa-instagram"><span style="color: #002233">OLIVIA DUGGER</span></h3>
													<p>
														<a href=https://www.instagram.com/olivia.dugger/>Instagram</a>
														<br></br>
														<a href="#">oliviacdugger@gmail.com</a><br />
													</p>
												</section>
											</div>
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon fa-twitter"><span style="color: #002233">SARA SHELTON</span></h3>
													<p>
														<a href=https://www.instagram.com/sarannic/>Instagram</a>
														<br></br>
														<a href=https://twitter.com/sarannic11>Twitter</a>
														<br></br>
														<a href="#">saranic314@gmail.com</a><br />
													</p>
												</section>
											</div>
										</div>
								</section>
								</center>
							</div>
						</div>
						</div>
						<div style="margin-left: 500px; margin-top: 100px" id="copyright">
							<ul class="copyright">
						&copy; chacha-joy-olivia-sara </li><a href="https://html5up.net">HTML5 UP</a></li>
					</ul>
						</div>
					</div>
				</section>
    </body>
</html>