<!DOCTYPE HTML>
<html lang="en">
<html>
	<head>
	   
		<title>THE STEMINISTS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="css/main.css" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Josefin+Sans:400,600,700|Oswald:400,500,600,700|Quicksand:400,500,700" rel="stylesheet">
	</head>
  <link href="css/main.css" rel="stylesheet"/>
     	<body class="homepage is-preload">
		<div id="page-wrapper">
		     
			<!-- Header -->
				<section id="header" class="wrapper">
				    <div id="logo">
						  <div class="container">
							<h1><a href="index.erb">The STEMinists</a></h1>
							<p>Empowering young women to get involved in STEM</p>
						  </div>
						</div>

                </section>
        </div>
        	
        	<nav id="nav">
							<ul>
								<li class="current"><a href="/">Home</a></li>
								<li>
									<a class="quiz_title" href="/quiz">SURVEY</a>

  <!--  <center>-->
  <!--    <section id="banner">-->

				
		<!--			<div class="inner">-->
  <!--  <center>-->
  <!--<h1></h1>-->
  <!--<a href="#" class="image featured"><img src="images/earth.gif" alt="" /></a>-->
  <!--</center>-->
  <!--    </div>-->

		<!--		</section>-->
				<!-- Footer -->
		<!--		<footer id="footer">-->

		<!--			<ul class="icons">-->
						
		<!--				<li><a href="https://github.com/abbymurr" class="icon circle fa-github"><span class="label">Github</span></a></li>-->
		<!--				<li><a href="https://github.com/debgonzalez" class="icon circle fa-github"><span class="label">Github</span></a></li>-->
		<!--				<li><a href="https://github.com/janicek1m" class="icon circle fa-github"><span class="label">Github</span></a></li>-->
		<!--			</ul>-->

		<!--			<ul class="copyright">-->
		<!--				<li>&copy; abby-debbie-janice</li><li></li><a href="https://html5up.net/twenty">twenty</a></li>-->
		<!--			</ul>-->

		<!--		</footer>-->
		<div id="gif">
            <div class="container">
            <!--<div class="row">-->
            	<center>
            	<div style="margin-left:100px;margin-top:600px;margin-right:300px;line-height: 1.3">
            	<h1><%=@result%></h1>
            	</div>
                <a href="#" class="image featured"><img src="images/giphy4.gif" style="width:500px;height:500px;float:left;position:relative;margin-left:300px;margin-top:60px; border: double 30px" alt="" /></a>
              		</center>
            </div>
        </div>
        	
        	<!--<center>-->
									<section style="margin-left:150px; margin-top:700px" class="feature-list small">
										<div class="row">
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon fa-home"><span style="color: #D93A80">CHAMBERLAIN CHURCHILL</span></h3>
													<p>
														<a href=https://www.instagram.com/monkey_cbc/>Instagram</a>

													<center></p>
												</section>
											</div>
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon fa-envelope"><span style="color: #D93A80">JOY TING</span></h3>
													<p>
														<a href="#">gentledolphin1@gmail.com</a><br />
														
													</p>
												</section>
											</div>
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon fa-instagram"><span style="color: #D93A80">OLIVIA DUGGER</span></h3>
													<p>
														<a href=https://www.instagram.com/olivia.dugger/>Instagram</a>
														<br></br>
														<a href="#">oliviacdugger@gmail.com</a><br />
													</p>
												</section>
											</div>
											<div class="col-6 col-12-small">
												<section>
													<h3 class="icon fa-twitter"><span style="color: #D93A80">SARA SHELTON</span></h3>
													<p>
														<a href=https://www.instagram.com/sarannic/>Instagram</a>
														<br></br>
														<a href=https://twitter.com/sarannic11>Twitter</a>
														<br></br>
														<a href="#">saranic314@gmail.com</a><br />
													</p>
												</section>
											</div>
										</div>
								</section>
								<!--</center>-->
								<!--</center>-->
		
                	</div>
						<div style="margin-top: 100px; margin-right: 200px" id="copyright">
							<ul class="copyright">
						&copy; chacha-joy-olivia-sara </li><a href="https://html5up.net">HTML5 UP</a></li>
					</ul>
						</div>
  </body>
</html>